/*.color1 { #f7f4e8 };
.color2 { #daf3ea };
.color3 { #85e6c0 };
.color4 { #6bb39b };
.color5 { #0b0b0d };*/


body {
    background-color: #f7f4e8;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    text-align: center;
}

.cabecalho{
    background-color: #85e6c0;
}

.cabecalho__botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100;
    padding: 8px 16px;
}

.cabecalho__botoes button {
    margin: 0 30px 0 30px;
    color: white;
    background-color: rgba(0, 0, 0, 0.279);
    padding: 15px 30px;
    border: 2px solid white;
    border-radius: 9px;
    transition: 0.4s;
}

.cabecalho__botoes button:hover{
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.628);
    cursor: pointer;
}

.cabecalho__titulo{
    font-family: 'Oswald', sans-serif;
    margin-top: 3em;
    font-size: 35px;
    text-align: center;
    text-decoration: overline;
    color: #f7f4e8;
    transition: 1s;
}

.cabecalho__titulo:hover{
    transition: 1s;
    font-size: 36px;
}

.cabecalho__paragrafo{
    display: inline-block;
    color: #f7f4e8;
    margin: 2em;
    padding: 10px 10px;
    text-align: center;
    background-color: #6bb39b;
    border: 2px solid #0b0b0d;
    transition: 0.3s;
}

.cabecalho__paragrafo:hover{
    transition: 0.3s;
    background-color: #4b8d77;
    border: 2px solid white;
}

main{
    padding: 15px 15px;
    margin: 0px 40px;
    width: auto;
    background-color: white;
    opacity: 80%;
    border: 0.1px solid black;
}


.conteudo__imagens--lista{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    transition: 0.2s;
}

.conteudo__imagens--lista button{
    display: inline-block;
    margin: 0px 10px;
    text-align: center;
    width: 30%;
    height: 230px;
    vertical-align: top;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 14px;
}

.conteudo__imagens--lista h2{
    font-family: 'Oswald', sans-serif;
    margin: 0 0 12px 0;
    font-style: bold;
    font-size: 24px;
    background-color: #6bb39b;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    
    padding: 5px 0;
}

.imagemHtml{
    margin-top: 10px;
    width: 156px;
}

.imagemCss{
    width: 170px;
}

.conteudo__imagens--lista button:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: #daf3ea;
}

.conteudo__sobre{
    text-align: left;

}

.conteudo__sobre h3{
    font-weight: bold;
    padding: 1px 0;
}